<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="!(bindpath.Manager.Vanguard.Updater)\**">
        <Exclude Files="!(bindpath.Manager.Vanguard.Updater)\service.exe" />
      </Files>

      <Component Id="ServiceExecutable">
        <File Id="ServiceExecutableFile" Source="!(bindpath.Manager.Vanguard.Updater)\service.exe" KeyPath="true" />
        <ServiceInstall
          Vital="yes"
          Interactive="no"
          Id="ServiceInstaller"
          Type="ownProcess"
          Name="$(ServiceName)"
          DisplayName="!(loc.ServiceDisplayName)"
          Description="!(loc.ServiceDescription)"
          Start="auto"
          Account="NT SERVICE\$(ServiceName)"
          ErrorControl="normal"
        >
          <util:PermissionEx User="Users" ServiceStart="true" />
        </ServiceInstall>
        <ServiceControl Id="StartService" Stop="both" Remove="uninstall" Name="$(ServiceName)" Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
