<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Id="VanguardManager.Installer" Name="Vanguard Manager" Manufacturer="H2O Productions" Version="$(AssemblyVersion)">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="./license.rtf" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
  </Package>
</Wix>
