<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Id="VanguardManager.Installer" Name="Vanguard Manager" Manufacturer="H2O Productions" Version="$(AssemblyVersion)">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppFiles" />

      <Component>
        <RegistryValue Id="CultureKey" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Type="integer" Name="InstallerCultureLCID" Value="[ProductLanguage]" Action="write" />
        <RemoveRegistryKey Id="RemoveCultureKey" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Action="removeOnUninstall" />
        <RemoveFile Directory="INSTALLFOLDER" Name="*.*" On="uninstall" />
        <RemoveFolder Directory="INSTALLFOLDER" On="uninstall" />
      </Component>
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="./license.rtf" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
  </Package>
</Wix>
